@import "Fonts.css";

#editContainer {
    -fx-padding: 20;
    -fx-hgap: 25;
    -fx-vgap: 25;
}

#editContainer{
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}
#editContainer >TextArea{
    -fx-max-height: 35;
    -fx-max-width: 200;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;

}

#editContainer >TextArea *.text{
    /*-fx-text-alignment: CENTER_LEFT;*/
}

.admin-edit-container {
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.admin-edit-container > VBox >Label{
    -fx-font-size: 15;
    -fx-text-fill: -pfx-text;
}

.admin-edit-container > VBox > TextField{
    -fx-max-height: 200;
}

.admin-container {
    -fx-background-color: -pfx-primary;
    -fx-border-radius: 6;
    -fx-border-color: -pfx-accent;
    -fx-alignment: CENTER;
    -fx-text-fill: -pfx-text;
    -fx-font-size: 15;
}

.admin-container > HBox > VBox{
    -fx-padding: 10;
}

.admin-container-buttons{
    -pfx-button-text: white;
    -pfx-button-background: -pfx-accent;
    -pfx-button-hover: -pfx-accent-dark;
    -fx-min-width: 120;
}
.admin-container-buttons-remove{
    -pfx-button-text: white;
    -pfx-button-background: -pfx-danger;
    -pfx-button-hover: -pfx-danger-dark;
    -fx-min-width: 120;
}

.admin-container-buttons-clear{
    -pfx-button-text: white;
    -pfx-button-background: -pfx-danger;
    -pfx-button-hover: -pfx-danger-dark;
    -fx-min-width: 120;
}

.admin-container-buttons-add{
    -pfx-button-text: white;
    -pfx-button-background: -pfx-success;
    -pfx-button-hover: -pfx-success-dark;
    -fx-min-width: 120;
}

.admin-container-text-size{
    -fx-font-size: 18;
    -fx-text-fill: -pfx-text;
}
.admin-container-title-text-size{
    -fx-font-size: 25;
}

.admin-container-displayTable{
    -fx-min-width: 252;
    -fx-min-height: 45;
}

.admin-container-parent{
    -fx-padding: 0 10 0 10;
}