@import "Fonts.css";

.admin-table-container{
    -fx-alightment: CENTER_LEFT;
}

.admin-table-container > Label {
    -fx-font-size: 18;
    -fx-padding: 0 10 0 0;
    -fx-alignment: CENTER_LEFT;
    -fx-text-alignment: CENTER_LEFT;
}

.admin-table-container > TextField{
    -fx-alignment: CENTER_LEFT;
}