#editContainer {
    -fx-padding: 20;
    -fx-hgap: 25;
    -fx-vgap: 25;
}

#editContainer{
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}
#editContainer >TextArea{
    -fx-max-height: 35;
    -fx-max-width: 200;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;

}

#editContainer >TextArea *.text{
    /*-fx-text-alignment: CENTER_LEFT;*/
}

.admin-edit-container {
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.admin-edit-container > VBox >Label{
    -fx-font-size: 15;
    -fx-text-fill: -pfx-text;
}

.admin-edit-container > VBox > TextField{
    -fx-max-height: 200;
}

.admin-container {
    -fx-background-color: -pfx-background;
    -fx-border-radius: 6;
    -fx-border-color: -pfx-accent;
    -fx-alignment: CENTER;
    -fx-text-fill: -pfx-text;
    -fx-font-size: 15;
}

.admin-container > HBox > VBox{
    -fx-padding: 10;
}

