.pp-button {
    -fx-background-color: -pp-dark-blue;
    -fx-text-fill: white;
}
.pp-button-active {
    -fx-background-color: -pp-light-blue;
    -fx-text-fill: black;
}

.pp-button:hover {
    -fx-background-color: -pp-light-blue;
    -fx-text-fill: black;
}