.default-color0.chart-pie { -fx-pie-color: -pfx-accent; }
.default-color1.chart-pie { -fx-pie-color: -pfx-yellow; }
.default-color2.chart-pie { -fx-pie-color: -pfx-accent; }
.default-color3.chart-pie { -fx-pie-color: -pfx-yellow; }
.default-color4.chart-pie { -fx-pie-color: -pfx-accent; }
.default-color5.chart-pie { -fx-pie-color: -pfx-yellow; }

.chart-pie {
    -fx-border-color: -pfx-primary;
}
