@import "Fonts.css";

.conference-dropDown {
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
    -fx-max-width: 200;
}

.conference-header {
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 24;
}

.conference-subText {
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
}

.conference-red-star {
    -fx-fill: red;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
}

.conference-textField {
    -fx-prompt-text-fill: "Number of Participants";
    -fx-background-radius: 6;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
}

.conference-calendar {
    -fx-prompt-text-fill: "MONTH DATE, YEAR";
    -fx-font-size: 18;
}

.conference-form-sections {
    -fx-padding: 10;
    -fx-max-width: 300;
}

.conference-form-columns {
    -fx-padding: 10 50 10 10;
}

.conference-form-section-titles {
    -fx-padding: 10;
}