@import "Fonts.css";

.pfx-conference-dropDown {
    -fx-font-family: "Nunito Sans";
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 18;
    -fx-text-size: 18;
}

.pfx-conference-header {
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 24;
}

.pfx-conference-subText {
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
    -fx-alignment: CENTER_LEFT;
}

.pfx-conference-red-star {
    -fx-fill: red;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
}

.pfx-conference-textField {
    -fx-prompt-text-fill: "Number of Participants";
    -fx-background-radius: 6;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 18;
    -fx-alignment: CENTER_LEFT;
}

.pfx-conference-calendar {
    -fx-prompt-text-fill: "MONTH DATE, YEAR";
}
