.editing-overlay {
    -fx-spacing: 10;
    -fx-padding: 20;
}

.editing-overlay > VBox {
    -fx-alignment: CENTER;
    -fx-max-width: 300;
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-background-color: -pfx-background;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
}
#commitProgress {
    -fx-max-height: 20;
    -fx-padding: 0;
}

#changes {

}