.floor-selector,
.floor-selector:armed,
.floor-selector:hover,
.floor-selector:focused {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-background-radius: 40;
    -fx-font-size: 30;
    -fx-font-family: "Nunito Sans Regular";
    -pfx-button-background: -pfx-background;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
}

.hospital-map-overlay-bottom {
    -fx-alignment: CENTER;
}

.hospital-map-overlay-bottom > HBox {
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.hospital-map-zoom-modal {
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-spacing: 5;
}
.hospital-map-zoom-modal PFXIcon {
    -fx-alignment: CENTER;
    -fx-font-size: 30;
}

.hospital-map-zoom-modal PFXButton {
    -fx-padding: 0 3;
    -fx-background-color: -pfx-background;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 5, 0, 0.0, 0.0);
}
.hospital-map-zoom-modal PFXButton:focused {
    -fx-background-color: -pfx-background;
}

.hospital-map-gesture-pane {
    -fx-background-color: #d6d8d5;
}