.sideBar {
    -fx-background-color: -pfx-background;
    -fx-border-radius: 0;
    -fx-min-width: 65;
    -fx-padding: 0 0 15 0;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -pfx-secondary-light;
}

.sidebar-button:selected > .icon {
    -fx-background-color: white;
    -fx-spacing: 0;
}

.sidebar-expand-icon {
    -fx-font-size: 18;
    -fx-padding: 0;
    -fx-fill: -pfx-secondary;
    -fx-cursor: hand;
}

#navItems {
    -fx-spacing: 15;
}

.header {
    -fx-alignment: CENTER;
    -fx-background-color: -pfx-background;
    -fx-padding: 10;
    -fx-border-color: -pfx-secondary-light;
    -fx-border-width: 0 0 1 0;
}

.header-left-container {
    -fx-alignment: CENTER_LEFT;
    -fx-max-width: 300;
    -fx-pref-width: 300;
}

.header-left-container > HBox {
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: -pfx-primary;
    -fx-background-radius: 40;
    -fx-padding: 0 20;
    -fx-spacing: 10;
    -fx-font-size: 20;
}

.header-left-container > HBox > PFXIcon {
    -fx-font-size: 30;
}

.header-right-container {
    -fx-alignment: CENTER_RIGHT;
    -fx-min-width: 165;
    -fx-padding: 0 20 0 0;
}

.header-right-container > PFXAccount {
    -fx-font-size: 30;
}

.header-search {
    -fx-background-color: -pfx-primary;
    -fx-cursor: text;
}

#accountInfo > HBox {
    -fx-spacing: 10;
    -fx-padding: 0 0 10 0;
}

#profileImage {
    -fx-alignment: CENTER_LEFT;
}

.layout-content {
    -fx-background-color: transparent;
}

#overlayContainer {
    -fx-background-color: transparent;
}

#notificationsContainer {
    -fx-alignment: TOP_RIGHT;
    -fx-padding: 10;
    -fx-spacing: 5;
}

.notification-popup {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
    -fx-font-family: "Nunito Sans Regular";
    -fx-max-width: 300;
    -fx-background-radius: 6;
    -fx-padding: 10;
}

.notification-title {
    -fx-fill: -pfx-text;
    -fx-font-size: 20;
}

.notification-body {
    -fx-fill: -pfx-secondary;
    -fx-font-size: 16;
}

.notification-dismiss {
    -fx-padding: 3;
    -pfx-button-background: transparent;
    -pfx-button-text-hover: red;
}

.notification-title-bar {
    -fx-alignment: CENTER;
}

.alert-VBox {
    -fx-background-color: -pfx-secondary-transparent;
    -fx-alignment: CENTER;
}

.alert-HBox {
    -fx-alignment: CENTER;
}

.search-popup {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 10;
    -fx-pref-width: 300;
    -fx-max-width: 300;
    -fx-min-width: 300;
}