.VBox-Login {
    -fx-padding: 30 30 30 0;
}
.login-page-background{
    -fx-background-image: url("../assets/bwh-exterior-default.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.login-page-white-layer{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.VBox-login-White-Box {
    -fx-background-color: -pfx-background;
    -fx-padding: 20 50 20 50;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: -pfx-secondary;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 30, 0, 0.0, 0.0);
}

.login-quicknav {
}

.login-quicknav Label {
    -fx-font-size: 18;
    -fx-text-fill: -pfx-text;
}

.login-quicknav PFXButton {
    -pfx-button-background: -pfx-background;
}

#quicknav {
    -fx-spacing: 10;
    -fx-padding: 10;
}
.PFXButton-Login,
.PFXButton-Login:armed,
.PFXButton-Login:focused,
.PFXButton-Login:hover
{
    -pfx-button-background: -pfx-accent;
    -pfx-button-text: -pfx-text-opposite;
    -fx-font-size: 16;
    -fx-padding: 8 20;
    -fx-background-radius: 12;
}