.pfx-account {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.pfx-account:hover .pfx-default-account-icon {
    -fx-fill: -pfx-primary;
}
.pfx-account-menu {
    -fx-padding: 10 0;
}

.pfx-account Label {
    -fx-font-size: 18;
}

.pfx-account PFXIcon {
    -fx-fill: -pfx-text;
}
.pfx-default-account-icon {
    -fx-fill: -pfx-secondary;
}