@import "Fonts.css";

/* card label button icon */
.pfx-alert-card-container-unread {
    -fx-font-family: "Nunito Sans Light";
    -fx-alignment: TOP_LEFT;
    -fx-padding: 20 20;
    -fx-background-color: -pfx-accent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
    -fx-spacing: 15;
    -fx-background-radius: 12;
    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-max-width: 780;
}
.pfx-alert-card-title-text{
    -fx-font-size: 30;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -pfx-accent-light;
    -fx-wrap-text: true;
}
.pfx-alert-card-type-text{
    -fx-font-size: 12;
    -fx-wrap-text: true;
}
.pfx-alert-card-container-unread Label {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-spacing: 20;
}

.pfx-alert-card-container-unread Button {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
}

.pfx-alert-card-container-unread PFXIcon{
    -fx-font-size: 24;
    -fx-fill: white;
    -fx-text-fill: white;
}

/* read card label button icon */
.pfx-alert-card-container-read{
    -fx-font-family: "Nunito Sans Light";
    -fx-alignment: TOP_LEFT;
    -fx-padding: 20 20;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
    -fx-spacing: 15;
    -fx-background-radius: 12;
    -fx-font-size: 24;
    -fx-text-fill: -pfx-accent;
    -fx-border-radius: 12;
    -fx-wrap-text: true;
    -fx-max-width: 780;
}

.pfx-alert-card-container-read Label {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-text-fill: -pfx-navy;
    -fx-font-spacing: 20;
}

.pfx-alert-card-container-read Button {
    -fx-background-color: transparent;
    -fx-background-radius: 6;
}

.pfx-alert-card-container-read PFXIcon{
    -fx-font-size: 24;
    -fx-fill: -pfx-navy;
}
