.pfx-alert {
    -fx-background-color: -pfx-background;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);
    -fx-alignment: center;
    -fx-padding: 50;
}

.pfx-alert .pfx-button {
    -fx-background-color: -pfx-accent;
    -fx-text-fill: -pfx-background;
}

.pfx-alert .label {
    -fx-font-size: 24;
    -fx-padding: 0 0 10 0;
}

.pfx-alert-container {
    -fx-alignment: CENTER;
    -fx-background-color: -pfx-secondary-transparent;
}

.pfx-alert-container > HBox {
    -fx-alignment: CENTER;
}

