.pfx-button {
    -pfx-button-background: -pfx-primary;
    -pfx-button-text: black;
    -pfx-button-hover: derive(-pfx-button-background, -20%);
    -pfx-button-selected: -pfx-accent;
    -pfx-button-selected-hover: derive(-pfx-accent, -20%);
    -pfx-button-selected-text: -pfx-text-opposite;
}
.pfx-button:armed,
.pfx-button:hover,
.pfx-button:focused,
.pfx-button {
    /*Styles*/
    -fx-background-color: -pfx-button-background;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
    -fx-text-fill: -pfx-button-text;
    -fx-font-size: 16;
    -fx-font-family: "Nunito Sans Regular";
    -fx-cursor: hand;
}

.pfx-button:selected:hover {
    -fx-background-color: -pfx-accent;
}

.pfx-button:focused {
    -fx-background-color: -pfx-button-background;
}

.pfx-button:hover,
.pfx-button:armed,
.pfx-button:hover:armed,
.pfx-button:hover:focused,
.pfx-button:hover:armed:focused {
    -fx-background-color: -pfx-button-hover;
}


.pfx-button:selected,
.pfx-button:focused:selected,
.pfx-button:focused:armed:selected {
    -fx-background-color: -pfx-button-selected;
    -fx-text-fill: -pfx-button-selected-text;
}

.pfx-button:focused:armed:selected {
    -fx-background-color: derive(-pfx-button-selected, -20%);
}