* {
    -pfx-navy: #012d5a;
    -pfx-navy-grey: #636c75;
    -pfx-background: #ffffff;
    -pfx-accent: #0072e7;
    -pfx-accent-light: #daeeff;
    -pfx-accent-dark: #00418a;
    -pfx-primary: #c9c9c9;
    -pfx-secondary: #676767;
    -pfx-yellow: #F6BD3E;
    -pfx-text: black;
    -pfx-text-opposite: white;
}
