* {
    -pfx-navy: #012d5a;
    -pfx-navy-grey: #636c75;
    -pfx-background: #1e1f22;
    -pfx-background-transparent: #1E1F2280;
    -pfx-accent: #0072e7;
    -pfx-accent-transparent: #0072e733;
    -pfx-accent-light: #80bbff;
    -pfx-accent-dark: #00418a;
    -pfx-primary: #2b2d30;
    -pfx-primary-transparent: rgba(182, 182, 182, 0.2);
    -pfx-secondary: #7a7a7a;
    -pfx-secondary-transparent: #7a7a7a33;
    -pfx-yellow: #F6BD3E;
    -pfx-danger: #ff4444;
    -pfx-danger-dark: #CC0000;
    -pfx-warning: #ffbb33;
    -pfx-warning-dark: #FF8800;
    -pfx-success: #00C851;
    -pfx-success-dark: #007E33;
    -pfx-text: #e0e0e0;
    -pfx-text-opposite: black;
    -pfx-secondary-light: #d6d6d6;
    -pfx-text-entry: -pfx-primary;
    -pfx-side-icon-dark: #9d9d9d;
    -pfx-side-icon-light: -pfx-accent;
}