@import "Fonts.css";

.pfx-picker-container {
    -fx-alignment: CENTER;
    -fx-background-color: -pfx-navy-grey;
    -fx-spacing: 20;
    -fx-background-radius: 6;
}

.pfx-picker-container Label {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-text-fill: -pfx-navy;
}

.pfx-picker-container PFXButton {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-text-fill: -pfx-navy;
    -fx-max-width: 999999;
}