.pfx-request-container {
    -fx-border-radius: 6;
    -fx-border-color: -pfx-secondary;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);*/
    -fx-padding: 20;
    -fx-spacing: 6;
    -fx-min-width: 300;
    -fx-border-insets: 20;
}

.pfx-request-container Label {
    -fx-text-fill: -pfx-text;
    -fx-font-size: 18;
    -fx-padding: 0 0 5 0;
    -fx-alignment: CENTER_LEFT;
}

.pfx-request-container TextField {
    -fx-min-height: 50;
    -fx-font-size: 18;
    -fx-background-radius: 6;
    -fx-border-color: -pfx-secondary;
    -fx-border-radius: 6;
    -fx-padding: 15;
    -fx-background-color: -pfx-primary;
    -fx-text-fill: -pfx-text;
    -fx-prompt-text-fill: -pfx-secondary-light;
}

.pfx-request-container MFXFilterComboBox {
    -fx-text-fill: -pfx-text;
    -fx-prompt-text-fill: -pfx-secondary-light;
    -fx-min-width: 300;
    -fx-min-height: 50;
    -fx-background-color: -pfx-primary;
    -fx-padding: 15;
    -fx-font-size: 18;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-color: -pfx-secondary;
}

.pfx-request-additional-notes {
    -fx-max-height: Infinity;
    -fx-alignment: TOP_LEFT;
    -fx-font-size: 18;
}

.pfx-request-buttons {
    -fx-alignment: CENTER;
    -fx-padding: 20;
    -fx-spacing: 20;
}

#clear {
    -pfx-button-background: -pfx-danger;
    -pfx-button-text: -pfx-text-opposite;
}

#submit {
    -pfx-button-background: -pfx-accent;
    -pfx-button-text: -pfx-text-opposite;
}