.pfx-request {
    -fx-border-color: -pfx-background;
}

.pfx-request-container {
    -fx-background-radius: 6;
    -fx-border-color: -pfx-secondary-light;
    -fx-border-radius: 6;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 20, 0, 0.0, 0.0);*/
    -fx-alignment: TOP_LEFT;
    -fx-padding: 20;
    -fx-spacing: 6;
    -fx-min-width: 300;
}

.pfx-request-component-holder {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0;

}

.pfx-request-container Label {
    -fx-text-fill: -pfx-text;
    -fx-font-size: 18;
    -fx-alignment: CENTER_LEFT;
}

.pfx-request-container > TextField {
    /*-fx-min-width: 50;*/
    -fx-min-height: 50;
    -fx-font-size: 18;
    -fx-background-radius: 6;
    -fx-border-color: -pfx-navy;
    -fx-border-radius: 6;
}

.pfx-request-container > VBox > TextField {
    /*-fx-alignment: CENTER_LEFT;*/
    -fx-text-alignment: TOP_LEFT;
    -fx-min-width: 0;
    -fx-padding: 15;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 0, 0, 0, 0);
    -fx-border-color: -pfx-navy;
    -fx-text-fill: -pfx-navy;
}

.pfx-request-container > VBox > MFXFilterComboBox {
    -fx-min-width: 300;
    -fx-min-height: 50;
    -fx-background-color: transparent;
    -fx-padding: 15;
    -fx-font-size: 18;
    -fx-border-radius: 6;
    -fx-border-color: -pfx-navy;
    -fx-text-fill: -pfx-navy;
}

.pfx-request-right-container {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.pfx-request-additional-notes {
    -fx-max-height: Infinity;
    -fx-alignment: TOP_LEFT;
    -fx-font-size: 18;
}

.pfx-request-buttons {
    -fx-alignment: CENTER;
    -fx-padding: 20;
    -fx-spacing: 20;
}

#clear {
    -pfx-button-background: -pfx-danger;
    -pfx-button-text: -pfx-text-opposite;
}
#submit {
    -pfx-button-background: -pfx-accent;
    -pfx-button-text: -pfx-text-opposite;
}