@import "Fonts.css";

.pfx-sidebar-item {
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-padding: 3 10 3 5;
    -fx-spacing: 10;
    -fx-background-size: 5;
    -fx-background-radius: 5;
    -fx-font-size: 30;

    -fx-border-style: segments(0, 32.5, 0) phase 27.5 inside line-cap round;
    -fx-border-width: 0 0 0 7.5;
    -fx-border-color: transparent;
}

.pfx-sidebar-expanded-container {
    -fx-alignment: CENTER_LEFT;
}
.pfx-sidebar-expanded-container > Label {
    -fx-font-size: 14 ;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-text-fill: -pfx-navy;
}

.pfx-sidebar-container {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 5;
}


.pfx-sidebar-item PFXIcon {
    -fx-fill: -pfx-navy;
}

.pfx-sidebar-item:selected {
     -fx-border-color: -pfx-accent;
 }

.pfx-sidebar-item:selected Label {
    -fx-text-fill: -pfx-accent;
}

.pfx-sidebar-item:selected PFXIcon {
    -fx-fill: -pfx-accent;
}

.pfx-sidebar-container:hover {
    -fx-background-color: derive(-pfx-accent-light, -5%);
}