@import "Fonts.css";

.pfx-tab-layout {
    -fx-background-color: -pfx-background;
}

.pfx-tab-stackpane{
    -fx-background-color: -pfx-background;
}

.pfx-tab-container {
    -fx-background-color: -pfx-background;
    -fx-alignment: CENTER;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -pfx-primary;
}