@import "Fonts.css";

.pfx-tab-layout {
    -fx-background-color: -pfx-background;
}

.pfx-tab-stackpane{
    -fx-background-color: -pfx-background;
}

.pfx-tab-container {
    -fx-background-color: -pfx-primary;
    -fx-alignment: CENTER;
    -fx-max-width: "-infinity";
}