@import "Fonts.css";

.pie-chart{
    -fx-font-family: "Nunito Sans Regular";
    -fx-text-fill: -pfx-text;
    -fx-font-size: 20;
}

.default-color0.chart-pie{
    -fx-pie-color: -pfx-accent;
}
.default-color1.chart-pie{
    -fx-pie-color: -pfx-yellow;
}
