.thumb {
    -fx-background-color: -pfx-primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2;
    -fx-padding:2px;
}
.track {
    -fx-background-color: -pfx-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.increment-button, .decrement-button {
    -fx-background-color: -pfx-background;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}
.increment-arrow, .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}