.icon {
    -fx-background-color: white;
    -height: 20;
    -fx-min-height: -height;
    -fx-max-height: -height;
    -width: 20;
    -fx-min-width: -width;
    -fx-max-width: -width;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}