.sideBar {
    -fx-background-color: -pfx-background;
    -fx-border-radius: 6;
    -fx-min-width: 85;
    -fx-spacing: 15;
    -fx-padding: 15 0;
}

.sidebar-button:selected > .icon {
    -fx-background-color: white;
    -fx-spacing: 0;
}

#accountInfo > HBox {
    -fx-spacing: 10;
    -fx-padding: 0 0 10 0;
}

#profileImage {
    -fx-alignment: CENTER_LEFT;
}


