@import "SignageTheme.css";

.signage-icon {
    -fx-fill: white;
}

.signage-delete-btn PFXIcon {
    -fx-fill: white;
}

.signage-icon-header {
    -fx-fill: white;
}

.signage-header Label {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

.signage-label Label {
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.signage-all {
    -fx-background-color: -pfx-navy;
}

.signage-edit-button {
    -pfx-button-background: -pfx-navy;
    -pfx-button-text: white;
}