@import "PFXColors.css";
@import "SignageTheme.css";

.signage-icon {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-edit-icon {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-icon-header {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-header Label {
    -fx-text-fill: -pfx-signage-text-opposite;
}

.signage-body-left Label {
    -fx-text-fill: -pfx-signage-text-opposite;
}

.signage-all {
    -fx-background-color: -pfx-signage-background-opposite;
}