* {
    -pfx-signage-text: #1c1c1c;
    -pfx-signage-text-opposite: white;
    -pfx-signage-background: -pfx-background;
    -pfx-signage-background-opposite: -pfx-navy;
}

.column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.signage-list {
    -fx-alignment: top-left;
    -fx-spacing: 20;
    -fx-padding: 10 0 10 0;
}

.signage-icon {
    -fx-font-size: 50;
}

.signage-icon-header {
    -fx-font-size: 55;
}

.signage-text {
    -fx-font-size: 20;
    -fx-padding: 20 0 0 0;
}


.signage-delete-btn,
.signage-delete-btn:armed,
.signage-delete-btn:hover,
.signage-delete-btn:focused {
    -fx-font-size: 30;
    -fx-alignment: center;
    -fx-padding: 0 5 0 5;
    -fx-cursor: hand;
    -fx-background-radius: 30;
    -pfx-button-background: transparent;
}

.signage-fullscreen-button,
.signage-fullscreen-button:armed,
.signage-fullscreen-button:hover,
.signage-fullscreen-button:focused {
    -fx-font-size: 30;
    -fx-alignment: center;
    -fx-padding: 0 0 0 0;
    -fx-cursor: hand;
    -fx-background-radius: 15;
    -pfx-button-background: transparent;
}

.signage-delete-btn PFXIcon {
    -fx-cursor: hand;
}

.signage-edit-options {
    -fx-alignment: center-left;
    -fx-spacing: 5;
}

.signage-right-edit-vbox {
    /*-fx-background-color: green;*/
    -fx-alignment: center;
    -fx-spacing: 50;
    -fx-padding: 75 100 50 100;
    -fx-border-width: 1;
    -fx-border-color: -pfx-accent;
    -fx-border-radius: 12;

}

signage-right-edit-outer-vbox {
    -fx-background-color: blue;
    -fx-spacing: 10;
    -fx-padding: 10 100 10 100;
    -fx-alignment: center-right;
}

.signage-delete-btn:hover PFXIcon {
    -fx-fill: red;
}

.signage-submit-btn,
.signage-submit-btn:armed,
.signage-submit-btn:focused {
    -fx-background-color: -pfx-success;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.signage-submit-btn:hover {
    /*-fx-background-color: -pfx-success-dark;*/
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.signage-header-mid {
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 10;
}

.signage-combo-box .combo-popup .virtual-flow .data-label {
    -fx-font-size: 18;
}

.signage-combo-box {
    -fx-font-size: 18;
    -fx-max-height: 50;
}

.signage-edit-vbox {
    -fx-alignment: bottom-right;
    -fx-padding: 0 10 10 0;
}

.signage-header {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 15 50 15 50;
}


.signage-header Label {
    -fx-font-size: 30;
}

.signage-header-left {
    -fx-spacing: 15;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
}

.signage-header-right {
    -fx-spacing: 15;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center-right;
}

.signage-label {
    -fx-alignment: center;
}

.signage-label-Here {
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 40;
}

.signage-text-DateTime {
    -fx-font-family: "Nunito Sans Light";
    -fx-font-size: 30;
}

.signage-body {
    -fx-pref-width: 200;
}

.signage-body-left {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 25;
    -fx-spacing: 5;
    -fx-font-family: "Nunito Sans Regular";
    -fx-padding: 30 0 20 100;
    -fx-min-width: 500;
}

.signage-body-left-edit {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 25;
    -fx-spacing: 40;
    -fx-font-family: "Nunito Sans Regular";
    -fx-padding: 30 0 20 100;
}

.signage-body-left Label {
    -fx-font-family: "Nunito Sans Regular";
}
