.signage-right-arrow {
    -fx-font-size: 140;
    -fx-fill: #4A96C0;
}

.signage-left-arrow {
    -fx-font-size: 140;
    -fx-fill: #749E3E;
}

.signage-up-arrow {
    -fx-font-size: 140;
    -fx-fill: #C23EBE;
}

.signage-down-arrow {
    -fx-font-size: 140;
    -fx-fill: #D78C1C;
}

.signage-list {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-padding: 0 120 0 0;
}

.signage-body {
    -fx-font-size: 25;
    -fxspacing: 5;
    -fx-font-family: "Nunito Sans Regular";
    -fx-padding: 20 0 20 0;
}

.signage-header {
    -fx-background-radius: 6;
    -fx-alignment: CENTER;
    -fx-background-color: #DFDFDF;
    -fx-font-size: 35;
    -fx-font-family: "Nunito Sans Bold";
    -fx-padding: 10 0 10 0;
}

.signage-header-container {
    -fx-padding: 0 20 0 20;
}

