@import "PFXColors.css";
@import "SignageTheme.css";

.signage-icon {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-delete-btn PFXIcon {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-icon-header {
    -fx-fill: -pfx-signage-text-opposite;
}

.signage-header Label {
    -fx-text-fill: -pfx-signage-text-opposite;
    -fx-font-size: 40;
}

.signage-label Label {
    -fx-text-fill: -pfx-signage-text-opposite;
    -fx-font-size: 50;
}

.signage-all {
    -fx-background-color: -pfx-signage-background-opposite;
}

.signage-edit-button {
    -pfx-button-background: -pfx-signage-background-opposite;
    -pfx-button-text: -pfx-signage-text-opposite;
}