@import "PFXColors.css";
@import "SignageTheme.css";

.signage-icon {
    -fx-fill: -pfx-signage-text;
}

.signage-delete-btn PFXIcon {
    -fx-fill: -pfx-signage-text;
}

.signage-icon-header {
    -fx-fill: -pfx-signage-text;
}

.signage-header Label {
    -fx-text-fill: -pfx-signage-text;
}

.signage-label Label{
    -fx-text-fill: -pfx-signage-text;
}

.signage-all {
    -fx-background-color: -pfx-signage-background;
}

.signage-edit-button {
    -pfx-button-background: -pfx-signage-background;
}