@import "PFXColors.css";
@import "SignageTheme.css";

.signage-icon {
    -fx-fill: -pfx-signage-text;
    -fx-font-size: 50;
}

.signage-icon-header {
    -fx-fill: -pfx-signage-text;
    -fx-font-size: 55;
}

.signage-header Label {
    -fx-text-fill: -pfx-signage-text;
    -fx-font-size: 30;
}

.signage-body-left Label {
    -fx-font-family: "Nunito Sans Regular";
    -fx-text-fill: -pfx-signage-text;
}

.signage-all {
    -fx-background-color: -pfx-signage-background;
}